@keyframes mint-shift {
    0%,100%   { background-position: 0% 50%; }
    50%       { background-position: 100% 50%; }
  }
  
body {
    background: linear-gradient(
      90deg,
      #468faf,
      #52b788,
      #74c69d
    );
    background-size: 300% 300%;
    animation: mint-shift 20s ease infinite;

    color: #444a56;
}

.btn-demo {
background-color: var(--color-accent);
color: white;
}

.feature-icon {
margin-right: .5rem;
}