{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>
  let content = {{lesson_content|tojson}}
  console.log(content.chord)
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}" >

<div class = "container">
  <!-- Chord Name -->
  <div class = "row">
    <div class = "col">
      <div class="text-center my-4">
        <h1 class="display-4 font-weight-bold">{{lesson_content['chord']}}</h1>
        <hr class="w-25 mx-auto">
      </div>
    </div>
  </div>  

  <!-- Progress Tracker -->
  <div class = "row mt-n4">
    <div class = "col">

      <!-- Progress Bar with steps -->
      <ul class="progressbar">
        {% for lesson in lesson_content["future_lessons"] %}
          <li> {{lesson}} </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <!-- Content for Lesson -->
  <div class = "row mt-2"> 
    <div class = "col-1"></div>
    <div class = "col-5">
      <img 
          class="img-fluid d-block mx-auto rounded" 
          src = " {{lesson_content["image"]}} "
          alt = "chord">
    </div>
    
    <!-- Right Column -->
    <div class = "col-5 justify-content-center align-items-center">
      
      <!-- Text Portion -->
      <div class = "row mt-2">
        
        <p class = "lead font-weight-normal text-dark"> 
          The open <strong> {{lesson_content["chord"]}} </strong> shape consist of the
          following notes: 
            {% for note in lesson_content["notes"] %}
              <span class="badge badge-light border mx-1">{{note}}</span>
            {% endfor %}

          going down the fretboard. The open strings are bolded.
        </p>

      </div>

      <!-- Media Section -->
      <div class = "row mt-4">
        <div class = "col-2"></div>
        
        <div class = "col-8 d-flex justify-content-around my-3">
            <button
                type= "button" 
                data-toggle="modal"
                data-target="#audioModal"
                class= "btn btn-warning rounded-pill d-flex align-items-center shadow mx-2"> 

                <i class="bi bi-soundwave"></i>
                <span class = "lr-2">Hear it!</span>
            </button>
            
            <button  type= "button" 
                id = "see" 
                data-toggle="modal"
                data-target="#youtubeModal"
                class= "btn btn-warning rounded-pill d-flex align-items-center shadow mx-2"> 
                <i class="bi bi-play-btn-fill me-2" style="font-size: 1.1em;"></i>
                <span class = "lr-2">See it!</span>
            </button>
        </div>
        <div class = "col-2"></div>
      </div>

    </div>
    
    <div class = "col-2"></div>
  </div>

  <!-- Bottom Buttons -->
  <div class = "row mt-5">
    <div class = "col-1">
        <button 
            type= "button" 
            id = "back" 
            class= "btn btn-warning rounded-2"> 
            Back
        </button>
    </div>
    <div class = "col-10"></div>
    <div class = "col-1">
        <button 
            type= "button" 
            id = "next" 
            class= "btn btn-warning rounded-2"> 
            Next
        </button>
    </div>
  </div>
  
</div>

<!-- Modal -->
<div
class="modal fade"
id="audioModal"
tabindex="-1"
role="dialog"
aria-labelledby="audioModalLabel"
aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="audioModalLabel">Listen Up!</h5>
            <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body text-center">
                
                <!-- Your audio element -->
                <audio id="modalAudio" preload="auto">
                    <source src="{{ url_for('static', filename='assets/audio/A_Major_Demo.m4a') }}" type="audio/mp4">
                    
                    <!-- Fallback text -->
                    Your browser does not support the audio element.
                </audio>
                    <p>🔊 Playing audio inside this modal…</p>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- YouTube Modal -->
<div
  class="modal fade"
  id="youtubeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="youtubeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="youtubeModalLabel">Lesson Video</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            id="youtubeFrame"
            class="embed-responsive-item"
            src=""
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    // Get the audio element
    var audioEl = document.getElementById('modalAudio');

    // When modal shown, play audio
    $('#audioModal').on('shown.bs.modal', function () {
      // Attempt to play; some browsers require user gesture, but since the
      // modal was opened by click, this usually counts as user interaction.
      audioEl.play().catch(function(err){
        console.warn('Audio play was prevented:', err);
      });
    });

    // When modal hidden, pause and reset to start
    $('#audioModal').on('hide.bs.modal', function () {
      audioEl.pause();
      audioEl.currentTime = 0;
    });
</script>

<script>

    // Handle marking lesson as complete
    $(document).ready(function()
    {
        $('#next').on('click', function()
        {
          window.location.href = content["next"];
        });

        $('#back').on('click', function()
        {
          window.location.href = content["back"];
        });
    });

    $(document).ready(function()
    {
      // Replace VIDEO_ID with your YouTube video ID:
      const youtubeSrc = "https://youtu.be/dQw4w9WgXcQ?si=-b9XEajo-RclUa2d?autoplay=1&rel=0";
  
      // When the modal is shown, set the iframe src to start playback
      $('#youtubeModal').on('shown.bs.modal', function () {
        $('#youtubeFrame').attr('src', youtubeSrc);
      });
  
      // When the modal is hidden, remove the src so the video stops
      $('#youtubeModal').on('hide.bs.modal', function () {
        $('#youtubeFrame').attr('src', '');
      });
    });
  </script>



{% endblock %}