{% extends "layout.html" %}

{% block content %}
<script>
    let lessons = {{lessons|tojson}}
</script>

<style>
    .card-collapsible {
      box-sizing: border-box;            /* include border in height */
      max-height: 80px;                  /* collapsed height */
      overflow: hidden;
      border: 2px solid lightslategray;            /* normal border */
      border-radius: 12px;            /* match Bootstrap card */
      transition:
        max-height 1s ease,
        border-width 0.4s ease,
        border-color 0.2s ease;
    }

    .card-collapsible:hover {
      max-height: 200px;                 /* expanded height */
      border-width: 2px;                 /* thicker border */
      border-color: var(--color-accent);             /* highlight color */
    }

    .collapse-content {
      opacity: 0;                        /* hidden until hover */
      transition: opacity 0.4s ease 0.2s;
    }
    .card-collapsible:hover .collapse-content {
      opacity: 1;
    }
</style>

<script>
$(document).ready(function() 
{
    // focus as soon as the page loads
    $('.card').focus();
});

$(document).ready(function(){
    $('.btn').on('click', function()
    {
        let btnId = $(this).attr('id');

        if (btnId == 4)
        {
            window.location.href = '/quiz/0';
        }
        else
        {
            window.location.href = '/learn/'+btnId;
        }
    });
});
</script>

<div class = "container mt-4">

    <!-- Title Section -->
    <div class = "row">
        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-base rounded-pill"
            >
                <h1>Guitar</h1>
            </div>
        </div>

        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-base rounded-pill"
            >
                <h1>Lesson</h1>
            </div>
        </div>

        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-base rounded-pill"
            >
                <h1>Plan</h1>
            </div>
        </div>
    </div>

    <!-- Lessons to be learned -->
    <div class = "container mt-4">

        <!-- Entry Template -->
        {% if lessons %}
        {% for idx in lessons %}
        <!-- Collapsable Card -->
        <div class="card card-collapsible mb-2">
            <div class = "row d-flex align-items-center mt-2">
                
                <!-- Visible Content-->
                <div class = "col-4">
                    <h4 class="card-title ml-2">Lesson {{idx}} : {{lessons[idx]["title"]}}</h4>
                </div>

                <!-- Fading in Content -->
                
                <!-- Getting Started Button-->
                <div class = "col-4 collapse-content d-flex justify-content-center">
                    <button 
                        type= "button" 
                        id = {{idx}} 
                        class= "btn bg-base rounded-pill w-75 h-20"> 
                            <strong>Start Now</strong>
                    </button>
                </div>
                
                <!-- Space -->
                <div class="col-1"></div>
                
                <!-- Completion Status -->
                <div class = "col-2 collapse-content d-flex justify-content-around">
                    <p class = "me-2">{{"Completed" if lessons[idx]["completed"] else "Not Yet Completed"}}</p>
                    
                    {% if lessons[idx]["completed"] %}
                        <i class="bi bi-check-lg" style="font-size: 1.1em;"></i>
                    {% else %}
                        <i class="bi bi-dash-lg" style="font-size: 1.1em;"></i>
                    {% endif %}
                </div>

                <div class = "col-1"></div>
            </div>

            <!-- Exapnded Region  -->
            <div class = "collapse-content mt-2 mb-4 row d-flex align-items-center">
                
                <!-- Text Description -->
                <div class = "col-4">
                    <p class="card-text ml-2">
                    This Lesson will cover {{lessons[idx]["description"]}}.
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div> 
</div>

{% endblock %}