{% extends "layout.html" %}

{% block content %}
<style>
    let lessons = {{lessons|tojson}}
</style>

<div class = "container mt-4">

    <!-- Title Section -->
    <div class = "row">
        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-primary rounded-pill"
            >
                <h1>Guitar</h1>
            </div>
        </div>

        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-primary rounded-pill"
            >
                <h1>Lesson</h1>
            </div>
        </div>

        <div class = "col-4">
            <!-- Rounded rectangle -->
            <div 
            class = "d-flex justify-content-center align-items-center bg-primary rounded-pill"
            >
                <h1>Plan</h1>
            </div>
        </div>
    </div>

    <!-- Lessons to be learned -->
    <div class = "container mt-4 bg-primary"
    style = "border: 4px double black">

        <!-- Entry Template -->
        {% if lessons %}
        {% for lesson in lessons %}
        <div class = "row d-flex align-items-center"
         style = "border-bottom: black 4px solid;">
            <!-- Lesson Description -->
            <div class = "col-4">
                <div class = "ml-4">
                    <h2>Lesson {{lesson.id}}:</h2>
                    <p>This Lesson Covers {{lesson.description}}</p>
                </div>
            </div>
        
            <!-- Getting states button-->
            <div class = "col-4 d-flex justify-content-center">
                <button 
                    type= "button" 
                    id = "submit" 
                    class= "btn btn-warning rounded-pill w-75 "> 
                        Start Now 
                </button>
            </div>

            <!-- completion status -->
            <div class = "col-4  d-flex justify-content-center">
                <p>{{"Completed" if lesson.completed else "Not Yet Completed"}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div> 
</div>

{% endblock %}